body {
  margin: 0;
  font-family: Georgia, Times, serif;
  background: ivory;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: tan;
}
a {
  padding: 20px;
  text-decoration: none;
  color: saddlebrown;
}
main {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap row;
}
article {
  width: 39.5%;
  margin: 5%;
  border: 1px solid tan;
}
p {
  margin: 5%;
}
